* {
  box-sizing: border-box;
}

body {
  background-image: url("https://img.freepik.com/premium-photo/abstract-blurred-gold-and-orange-illuminated-city-lights-for-background-or-wallpaper_76000-3699.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.89;
}

.container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px 60px 70px;
  text-align: center;
}

.input-field {
  background-color: antiquewhite;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.input-field input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

form {
  height: 350px;
}

form p {
  font-size: 14px;
  height: 5px;
  line-height: 1px;
  text-align: center;
}

.button {
  display: flex;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-field button {
  background-color: orange;
  color: black;
  font-weight: bold;
  height: 40px;
  width: 90%;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

span {
  padding-left: 15px;
}

.find {
  display: flex;
  justify-content: center;
}

.title {
  color: orange;
  font-size: 40px;
  font-family: "Tilt Warp", cursive;
  font-weight: 900;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  padding-bottom: 12px;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}

.signin p {
  color: red;
  font-family: fantasy;
}

.signup p {
  color: red;
}

a {
  text-decoration: none;
}

h4 {
  color: black;
}

.sigin-id border {
  border: 1px solid red;
}
