/* div {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    
} */

input {
  display: block;
  width: 50%;
  font-size: 20px;
}
